.controls {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
  margin: 0 auto;
}
